<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Итак, ты хочешь поиграть на моем сервачке. Как же это сделать? Все предельно просто:</p>
  <p>1 - тебе нужно поставить сборку 'Pokehaan Craft 2-2.10.0</p>
  <p>2 - добавить сервер вот его адрес 'superznake.store:25565'</p>
  <p>3 - написать боту /launch, если сервер не запущен</p>
  <p>Готово</p>
  <p></p>
  <p>P.S. Это сборка с покемонами и чтобы начать, нужно выбрать себе стартового и подтвердить свой выбор</p>
    <p>P.P.S. Проверял только на лицухе, пиратам соболезную</p>
</body>
</html>